<h1>Create an instrument</h1>

<form method="post" action="/instruments/create-instrument">

  <input name="name" type="text" />
  <input name="type" type="text" />
  <input name="genre" type="text" />
  <input name="price" type="number" />

  <button type="submit">
    Create
  </button>
</form>